/* HTML
<div class="main">
<div class="inner"></div>
</div>
*/
/* <style> */
  body {
    background-color: #E8AD6D;
  }
  .main {
    display: flex;
    justify-content: center;
    align-items: center;
    position: absolute;
    top: 50%;
    left: 50%;
    width: 200px;
    height: 200px;
    background: #000000;
    transform: translate(-50%, -50%);
    border-top-right-radius: 35%;
    border-bottom-left-radius: 35%;
  }
  .main::before,
  .main::after {
    content: "";
    width: 40px;
    height: 40px;
    position: absolute;
    background-color: #FFFFFF;
  }
  .main::before {
    top: 0;
    left: 0;
  }
  .main::after {
    bottom: 0;
    right: 0;
  }
  .inner {
    width: 120px;
    height: 120px;
    border-radius: 0 29px 0 29px;
    background: #E8AD6D;
  }
/* </style> */